{% extends 'base.html' %}
{% block title %}
Market items
{% endblock title %}
{% block content %}
<div class="row">
   <div class="col-8">
      <br>
    <h3 class="text-center">Available items on the market</h3>
       <p class="text-center">Click on the item to start buying</p>
      <div class="d-flex p-3">
         <table class="table table-hover table-dark table-center">
            <thead>
               <tr>
                  <!-- Your Columns HERE -->
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Barcode</th>
                  <th scope="col">Price</th>
                  <th scope="col">Options</th>
               </tr>
            </thead>
            {% for item in items %}
             {% include 'includes/items_modals.html' %}
            <tbody>
               <!-- Your rows inside the table HERE: -->
               <tr>
                  <td>{{ item.id }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.barcode }}</td>
                  <td>{{ item.price }}$</td>
                  <td>
                     <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#Modal-MoreInfo-{{ item.id }}">
                         More info
                     </button>
                     <button class="btn btn-outline btn-success" data-toggle="modal" data-target="#Modal-PurchaseConfirm-{{ item.id }}">
                         Purchase this item
                     </button>
                  </td>
               </tr>
            </tbody>
            {% endfor %}
         </table>
      </div>
   </div>
   <div class="col-4">
      <br>
       <h3 class="text-center">Owned items</h3>
       <p class="text-center">Click on sell to put an item on the Market</p>
          <div class="row">
             {% for item in current_user_items %}
              {% include 'includes/owned_items_modals.html' %}
             <div class="col-md-6">
                  <div style="margin-bottom: 5px; margin-right: 10px;" class="card text-center bg-dark">
                    <div class="card-body">
                        <h5 class="card-title" style="color: white"> {{ item.name }}</h5>
                        <button type="button" class="btn btn-outline-danger" style="margin-bottom: 5px; color: white"
                                data-toggle="modal" data-target="#Modal-SellingConfirm-{{ item.id }}">
                            Sell this Item
                        </button>
                        <p class="card-text" style="color: white"><strong>This item costs {{ item.price }}$</strong></p>
                    </div>
                  </div>
             </div>
             {% endfor %}
          </div>
   </div>
</div>
{% endblock content %}